*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: 15vw;
}
.each-img{
    margin: 10px;
    overflow: hidden;
    border-radius: 25px;
    width: 10%;
    object-fit: contain;
    animation: both;
    transition: ease-out 1.3s;
    position: relative;
}
h2{
    position: absolute;
    color: aliceblue;
    z-index: 1;
    bottom: 10px;
    margin-left: 10px;
    font-size: 48px;
    margin-bottom: 10px;
    display: none;
}
.frist{
    width: 70%;
   
}
img{
    width: 100%;
    min-height: 700px;
    border-radius: 10px;
}
