body{
    margin: 0;

}
*{
    box-sizing: border-box;
}
.parent{
    padding: 10px;
    border: 4px solid indianred;
    height: 50vh;
    display: flex;
    /* justify-content:center; */
    /* justify-content: space-between; */
    /* align-items: center; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
}

.parent span{
    /* border: 4px solid cadetblue; */
    background-color: cadetblue;
    /* width: 200px; */
    /* height: 300px; */
    flex-shrink: 0;
    /* flex-grow: 1; */
}
.parent p{
    /* border: 4px solid darkkhaki; */
    margin: 0;
    background-color: darkkhaki;
    /* width:400px ; */
    /* width: max-content; */
    /* width: min-content; */
}
.parent a{
    /* border: 4px solid yellowgreen; */
    /* width: 400px; */
    background-color: yellowgreen;
    flex-shrink: 0;
}