
*{
    box-sizing: border-box;
}

.checkbox-container label{
    height: 20px;
    width: 20px;
    border: 1px solid #c2c2c2;
    display: inline-block;
    border-radius: 4px;
    cursor: pointer;
    /* background-color: green; */
    display: flex;
}
.checkbox-container label:hover{
    /* background-color: #5128c6; */
}

.checkbox:checked + label {
    background-color: #5128c6;
    border-color: #5128c6;

}
