*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body {
  margin: 0 5vw;
  background-color: #F0F4F5;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 10px;
}
.items a {
  margin-left: 25px;
  text-decoration: none;
  color: black;
  font-size: 2rem;
  font-weight: 400;
}

/* main style */
.main-container{
    display: flex;
    flex-direction: row;
    /* height: 100vh; */
}
.topAngle {
  margin-top: 8vh;
}
.main-text h1 {
  font-size: 5rem;
  width: 40vw;
  font-weight: 900;
  margin-bottom: 10px;
}
.main-text p{
    width: 40vw;
    font-size: 1.5rem;
    color: #857C7D;
}
.bottomAngle{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.bottomAngle img{
    margin-top: 25px;
}
.stethoscope{
    position: absolute;
    width: 43%;
    top: 60px;
    right: 35%;
    z-index: -1
}
.mouse{
    position: absolute;
    bottom: 273px;
    left: 789px
}
.left-main-container button{
    padding: 15px 35px;
    color: white;
    background-color: #20BC7E;
    font-size: 25px;
    font-weight: 700;
    border-radius: 25px;
    border: none;
}
.main-container{
    height: 85vh;
}
.greenBox{
    /* position: absolute;
    right: 100px;
    top: 150px;
    width: 28%; */
    width: 35%;
    bottom: 30px;
    position: absolute;
    right: 0;
}
.yellowBox{
    /* position: absolute;
    right: 49px;
    top: 184px;
    width: 27%; */
    width: 30%;
    bottom: 50px;
    position: absolute;
    right: 0;
}
.doctor{
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 29%
}
