body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column-reverse;
}
button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: aqua;
  border-radius: 10px;
  border: none;
}
