*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    position: relative;
    width: 100vw;
    min-height: 100vh;
    padding: 50px;
}

.content-contaoner{
    max-width: 1000px;
    margin: 50px auto;
    background-color: white;
}
.img-container{
    height: 100%;
    width: 100%;
}
img{
    height: 100%;
    width: 100%;
}

h1,h2,p,h4{
    margin-bottom: 15px;
}







/* desing main task */
.icon{
    
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: orangered;
    padding: 35px 20px 25px 30px;
    border-radius: 0px 10px 50px 0px;
}
i{
 font-size: 25px;  
 color: white;
}

#contentRotate{
    transform: rotate(-18deg);
    position: absolute;
    left: 156px;
    top: -162px
}
/* #iconsCHange {
    padding: 17px 24px;
    border-radius: 0px 3px 44px 8px
} */

