@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Salsa&family=Style+Script&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    line-height: 1.4;
    font-weight: 300;
    font-family: "Roboto Condensed", sans-serif;
}

/* navigation */
nav{
    box-shadow: 5px 5px 5px rgb(1, 1, 1,0.05);
    position: sticky;
    top: 0;
    margin-bottom: 32px;
    background: white;
    padding: 10px;
}
button{
    padding: 10px 15px;
    border: none;
    transition: 0.2s ease-in-out;
}
button:hover{
   opacity: 0.8;
   transition: 0.2s ease-in-out;
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.bar-icons{
    font-size: 32px;
}

/* hero section */
.hero{
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}
.hero-containent{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.tag{
    background-color: #149f39;
    padding: 5px 10px;
    color: white;
    align-self: flex-start;
}
.hero-containent h1{
    font-size: 72px;
    line-height: 1.2;
    font-weight: 400;
}
.explore-btn{
    background-color: #ffc066;
    align-self: flex-start;
}
/* feature section */
.features{
    margin-top: 100px;
    display:flex;
    gap: 20px;
    justify-content: center;
}
.feature{
    display: flex;
    gap: 20px;
}
 @media(max-width:786px){
    .hero{  
        flex-direction: column;
    }
    .hero-img{
        display: flex;
        justify-content: center;
    }
    .hero-img img{
        width: 80%;
    }
    .hero-containent{
        gap: 10px;
        padding: 10px;
    }
    .hero-containent h1{
        font-size: 32px;
    }
 }